/* =============== Variables couleur =============== */
:root {
    --black-secondary: #111;
    --black:  #000;
    --white: #fff;
    --color-fonts-Primary: #cbd5db;
    
}
/* =============== Style BODY =============== */
body {
    background-color: var(--black) !important;
    color: var(--white);
    margin-top: 5rem;
}
/* =============== Section HEADER =============== */

.bg-header{
    background-color: var(--black-secondary);
}
.navbar-nav .nav-link {
    color: var(--color-fonts-Primary) !important;
}
.navbar-nav .nav-link:hover{
    color: var(--white) !important;
}
.navbar-nav .nav-link.active {
    font-weight: 500;
}

